@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.parent {
    background-color: rgb(189, 250, 229);
	height: 300px;
}

.child1{
	height: 50px;
	display: inline-block;
	width: 15%;
    position: absolute;
    left: 17.44%;
    right: 79.17%;
    top: 1%;
    bottom: 98%;
    color: #070707;
}

.child2{
	height: 50px;
	display: inline-block;
	width: 15%;
    position: absolute;
    left: 31.63%;
    right: 62.7%;
    top: 1%;
    bottom: 98%;
    color: #828282;

}

.child3{
	height: 50px;
	display: inline-block;
	width: 15%;
    position: absolute;
    left: 48.1%;
    right: 48.24%;
    top: 1%;
    bottom: 98%;
    color: #828282;

}

.child4{
	height: 50px;
	display: inline-block;
	width: 15%;
    position: absolute;
    left: 61.73%;
    right: 33.29%;
    top: 0.96%;
    bottom: 98.43%;
    color: #828282;

}

.child5{
	height: 50px;
	display: inline-block;
	width: 15%;
    position: absolute;
    left: 77.51%;
    right: 17.16%;
    top: 1%;
    bottom: 98%;
    color: #828282;

}

hr {
    position: absolute;
    width: 1300px;
    height: 0px;
    left: 300px;
    top: 5.75%;
    border: 1px solid #828282;
    transform: rotate(-0.04deg);
}

.box1 {
position: absolute;
left: 17.37%;
right: 74.05%;
top: 5.13%;
bottom: 89.78%;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 47.3392px;
line-height: 55px;
color: #070707;
}

.box2 {
position: absolute;
left: 46.51%;
right: 42.77%;
top: 10%;
bottom: 91.39%;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #070707;
}

.box3 {
    position: absolute;
    left: 5.88%;
    right: -1.47%;
    top: 400%;
    bottom: -417.65%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    
    color: #828282;
    
    transform: rotate(-90deg);
    
}

.print-logo {
    background-color: rgb(189, 250, 229);
    height: 400px;
}

.img {
   
}

.container {
    background-color: rgb(222, 243, 236);
    height: 500px;
}

.header {
position: absolute;
left: 44.68%;
right: 44.54%;
top: 75%;
bottom: 60.12%;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
text-align: center;
color: #070707;
}

.bottom {
    position: absolute;
    width: 485.34px;
    height: 217.02px;
    left: 37.5%;
    top: 850px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
}

